#page7 {
    display: flex;
    align-items: start;
    height: 100vh;
    width: 100%;
    background-color: #F9FCFD;
}

.navbar {
    height: 100vh;
    margin-right: 3rem;
    flex: 1;
    background-color: white;
    border: 1px solid var(--Color-Light-Grey, #75778B);
    -webkit-box-shadow: 10px 4px 22px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 4px 22px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 4px 22px -10px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}

.ct-pg7-title-text{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}

.ct-pg7-title-text p{
    color: var(--Color-Dark-Blue, #050938);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    letter-spacing: -0.06rem;
    margin-right: 2rem;
}

.containers-pg7 {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 2rem;
    margin-right: 1rem;
  }
  .ct1-pg7 {
    grid-column: 1;
    grid-row: 1 / 2;
  }
  .ct2-pg7 {
    grid-column: 2;
    grid-row: 1 / 2;
  }

.img-logo-nav {
    margin-top: 3rem;
    margin-left: 2rem;
    max-width: 50%;
}

#page7 .nav-page7{
    padding: 7px 50px 0 7px;
    background-color: #d8e6f7;
    border-radius: 0.625rem;
}

#page7 .nav-page7 a {
    color: var(--Color-Brand-Blue, #0179FF);
}

.nav-links{
    margin: 7rem 2rem;
}

.nav-child {
    display: flex; 
    align-items: center; 
    justify-content: start; 
    padding: 10px 10px; 
}

.nav-child .nav-img-logo{
    margin-right: 1.5rem;
}

.nav-child a{
    color: var(--Greyscale-gr-150, #BFC0CC);
    font-size: 1.8rem;
    font-style: normal;
    letter-spacing: -0.06rem;
    text-decoration: none; 
    padding: .5rem;
}

#nav-church-name{
    color: var(--Color-Dark-Blue, #050938);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: bolder;
    letter-spacing: -0.06rem;
    margin: 2rem 2rem;
}

.ct1-pg7{
    padding: 2rem;
    border-radius: 1.25rem;
    border: 1px solid var(--Stroke-Color, #EFF0F6);
    background: #FFF;
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ct1-title-pg7{
    color: var(--Color-Dark-Blue, #050938);
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 115%; /* 2.3rem */
    letter-spacing: -0.08rem;
}

.ct1-pg7 p{
    margin-top: 1rem;
}

#title-ch-ct1{
    color: var(--Color-Blue, #0179FF);

}

.ct1-p{
    color: var(--Color-Light-Grey, #75778B);
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 143%; /* 1.7875rem */
    letter-spacing: -0.05rem;
}

.ct2-pg7{
    background-color: #FFF;
    padding-left: 1.5rem;
    border-radius: 1.25rem;
    border: 1px solid var(--Stroke-Color, #EFF0F6);
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ct2-title{
    color: #FFF;
    font-size: 4.98906rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 115%; /* 5.73738rem */
    letter-spacing: -0.19956rem;
}

.ct2-p-pg6{
    color: var(--Color-Light-Grey, white);
    text-align: start;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 143%; /* 1.7875rem */
    width: 50%;
    margin: 2rem 0 0 1rem;
}

.ct1-title-text-below{
    color: var(--Color-Dark-Blue, #050938);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -0.12rem;
}

.img-pg7{
    margin-left: 2rem;
    max-width: 100%;
}