#page6 {
    display: flex;
    align-items: start;
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
}

.navbar {
    height: 100vh;
    margin-right: 3rem;
    flex: 1;
    background-color: white;
    border: 1px solid var(--Color-Light-Grey, #75778B);
    -webkit-box-shadow: 10px 4px 22px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 4px 22px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 4px 22px -10px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}

.containers-pg6 {
    flex: 3;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    gap: 1rem;
    margin: 1rem;
    height: 100vh;
}

.ct1-pg6, .ct2-pg6 {
    grid-column: 1; 
}

.ct3-pg6 {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.img-logo-nav {
    margin-top: 3rem;
    margin-left: 2rem;
    max-width: 50%;
}

#page6 .nav-page6{
    padding: 7px 50px 0 7px;
    background-color: #d8e6f7;
    border-radius: 0.625rem;
}

#page6 .nav-page6 a {
    color: var(--Color-Brand-Blue, #0179FF);
}

.nav-links{
    margin: 7rem 2rem;
}

.nav-child {
    display: flex; 
    align-items: center; 
    justify-content: start; 
    padding: 10px 10px; 
}

.nav-child .nav-img-logo{
    margin-right: 1.5rem;
}

.nav-child a{
    color: var(--Greyscale-gr-150, #BFC0CC);
    font-size: 1.8rem;
    font-style: normal;
    letter-spacing: -0.06rem;
    text-decoration: none; 
    padding: .5rem;
}

#nav-church-name{
    color: var(--Color-Dark-Blue, #050938);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: bolder;
    letter-spacing: -0.06rem;
    margin: 2rem 2rem;
}

.ct1-pg6{
    padding: 1rem;
    border-radius: 1.25rem;
    border: 1px solid var(--Stroke-Color, #EFF0F6);
    background: #FFF;
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
}

.ct1-title{
    color: var(--Color-Dark-Blue, #050938);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 115%; /* 2.3rem */
    letter-spacing: -0.08rem;
}

#title-ch-ct1{
    color: var(--Color-Blue, #0179FF);

}

.ct1-p{
    color: var(--Color-Light-Grey, #75778B);
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 143%; /* 1.7875rem */
    letter-spacing: -0.05rem;
}

.ct2-pg6{
    padding-left: 1.5rem;
    border-radius: 1.25rem;
    border: 1px solid var(--Stroke-Color, #EFF0F6);
    background: url(../../../public/bg-ct2-page6.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 85%;
}

.ct2-title{
    color: #FFF;
    font-size: 4.98906rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 115%; /* 5.73738rem */
    letter-spacing: -0.19956rem;
}

.ct2-p-pg6{
    color: var(--Color-Light-Grey, white);
    text-align: start;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 143%; /* 1.7875rem */
    width: 50%;
    margin: 2rem 0 0 1rem;
}

.ct3-pg6{
    padding: 2rem;
    border-radius: 1.25rem;
    border: 1px solid var(--Stroke-Color, #EFF0F6);
    background: #FFF;
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 5rem;
    height: 92%;
}

.ct3-title{
    color: var(--Color-Dark-Blue, #050938);
    font-size: 2rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 115%; /* 2.3rem */
    letter-spacing: -0.08rem;
}

.ct3-title2{
    color: var(--Color-Dark-Blue, #050938);
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 115%; /* 1.725rem */
    letter-spacing: -0.06rem;
}

.ct3-p{
    color: var(--Color-Light-Grey, #75778B);
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 143%; /* 1.7875rem */
    letter-spacing: -0.05rem;
}

.ct3-a{
    color: var(--Color-Brand-Blue, #0179FF);
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 115%; /* 1.00625rem */
    letter-spacing: -0.035rem;
    text-decoration-line: underline;
}

.ul-pg6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    color: var(--Color-Light-Grey, #75778B);
    font-size: 1rem;
    font-style: normal;
    font-weight: bolder;
    line-height: 150%; /* 1.40625rem */
    letter-spacing: -0.0375rem;
    margin: 3rem;
}

.li-child-pg6{
    color: var(--Greyscale-gr-150, #BFC0CC);
}