.name {
    background: var(--Gradient-01, linear-gradient(106deg, #6ECAF8 0%, #0179FF 31.51%, #2246E2 100.03%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-8-shadow-box {
    border: 1px solid var(--Stroke-Color, #EFF0F6);
    /*box-shadow: 0px 51px 14px 0px rgba(0, 0, 0, 0.00), 0px 33px 13px 0px rgba(0, 0, 0, 0.00), 0px 18px 11px 0px rgba(0, 0, 0, 0.01), 0px 8px 8px 0px rgba(0, 0, 0, 0.02), 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 0px 51px 14px 0px rgba(0, 0, 0, 0.00), 0px 33px 13px 0px rgba(0, 0, 0, 0.00), 0px 18px 11px 0px rgba(0, 0, 0, 0.01), 0px 8px 8px 0px rgba(0, 0, 0, 0.02), 0px 2px 5px 0px rgba(0, 0, 0, 0.03);*/
}