@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-shadow {
    border: 1px solid #E7E7E7;
    background: #FFF;
    /*box-shadow: 53px 244px 70px 0px rgba(0, 0, 0, 0.00), 34px 156px 64px 0px rgba(0, 0, 0, 0.00), 19px 88px 54px 0px rgba(0, 0, 0, 0.01), 8px 39px 40px 0px rgba(0, 0, 0, 0.02), 2px 10px 22px 0px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 53px 244px 70px 0px rgba(0, 0, 0, 0.00), 34px 156px 64px 0px rgba(0, 0, 0, 0.00), 19px 88px 54px 0px rgba(0, 0, 0, 0.01), 8px 39px 40px 0px rgba(0, 0, 0, 0.02), 2px 10px 22px 0px rgba(0, 0, 0, 0.02);*/
}

.card-shadow {
    border: 1px solid var(--Stroke-Color, #EFF0F6);
    /*box-shadow: 0px 51px 14px 0px rgba(0, 0, 0, 0.00), 0px 33px 13px 0px rgba(0, 0, 0, 0.00), 0px 18px 11px 0px rgba(0, 0, 0, 0.01), 0px 8px 8px 0px rgba(0, 0, 0, 0.02), 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 0px 51px 14px 0px rgba(0, 0, 0, 0.00), 0px 33px 13px 0px rgba(0, 0, 0, 0.00), 0px 18px 11px 0px rgba(0, 0, 0, 0.01), 0px 8px 8px 0px rgba(0, 0, 0, 0.02), 0px 2px 5px 0px rgba(0, 0, 0, 0.03);*/
}

.card-blue-shadow {
    border: 1px solid var(--Stroke-Color, #EFF0F6);
    /*box-shadow: 38px 83px 26px 0px rgba(162, 208, 236, 0.00), 24px 53px 23px 0px rgba(162, 208, 236, 0.03), 14px 30px 20px 0px rgba(162, 208, 236, 0.11), 6px 13px 15px 0px rgba(162, 208, 236, 0.18), 2px 3px 8px 0px rgba(162, 208, 236, 0.21);
    -webkit-box-shadow: 38px 83px 26px 0px rgba(162, 208, 236, 0.00), 24px 53px 23px 0px rgba(162, 208, 236, 0.03), 14px 30px 20px 0px rgba(162, 208, 236, 0.11), 6px 13px 15px 0px rgba(162, 208, 236, 0.18), 2px 3px 8px 0px rgba(162, 208, 236, 0.21);*/
}

.large-card-shadow {
    border: 1px solid var(--Stroke-Color, #EFF0F6);
    /*box-shadow: 0px 51px 14px 0px rgba(0, 0, 0, 0.00), 0px 33px 13px 0px rgba(0, 0, 0, 0.00), 0px 18px 11px 0px rgba(0, 0, 0, 0.01), 0px 8px 8px 0px rgba(0, 0, 0, 0.02), 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 38px 83px 26px 0px rgba(162, 208, 236, 0.00), 24px 53px 23px 0px rgba(162, 208, 236, 0.03), 14px 30px 20px 0px rgba(162, 208, 236, 0.11), 6px 13px 15px 0px rgba(162, 208, 236, 0.18), 2px 3px 8px 0px rgba(162, 208, 236, 0.21);*/
}

.vertical-card-shadow {
    border: 1px solid var(--Stroke-Color, #EFF0F6);
    /*box-shadow: 38px 83px 26px 0px rgba(162, 208, 236, 0.00), 24px 53px 23px 0px rgba(162, 208, 236, 0.03), 14px 30px 20px 0px rgba(162, 208, 236, 0.11), 6px 13px 15px 0px rgba(162, 208, 236, 0.18), 2px 3px 8px 0px rgba(162, 208, 236, 0.21);
    -webkit-box-shadow: 38px 83px 26px 0px rgba(162, 208, 236, 0.00), 24px 53px 23px 0px rgba(162, 208, 236, 0.03), 14px 30px 20px 0px rgba(162, 208, 236, 0.11), 6px 13px 15px 0px rgba(162, 208, 236, 0.18), 2px 3px 8px 0px rgba(162, 208, 236, 0.21);*/
}