<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <style>
        
        h1{
            font-family: "Poppins", Arial, Helvetica, sans-serif;
            font-weight: bolder;
            font-size:large;
            width: 50%;
        }
        p{
            font-family: "Poppins", Arial, Helvetica, sans-serif;
            font-size:medium;
            line-height: 1.6;
        }
        ol{
            font-family: "Poppins", Arial, Helvetica, sans-serif;
            font-size:medium;
            line-height: 1.6;
        }
        
    </style>
    <body>
        <p>Hi {{first_name}},</p>
        <p>
            Congratulations on taking the first step towards digital excellence with your Digital Health Score!  
            <strong>Your attached report provides insights into how effective your online presence is for reaching new 
            people in your local area and growing your church.</strong>
        </p>
        <p>
            If you're surprised by your score, you're not alone. Most churches' digital tools fall well short of being 
            effective.
        </p>
        <p>
            Partnering with VisitorReach will quickly improve {{name}} digital outreach and connect you with dozens of local 
            people every week who are looking for a new church home.
        </p>
        <p>
            <a href="https://connect.visitorreach.com/digital-health-follow-up">Set up a brief 15-minute conversation</a> 
            to learn how VisitorReach™ can grow your church with:
        </p>
        <ol>
            <li><strong>Digital optimization:</strong> So your church appears in the right places online</li>
            <li><strong>Personalized advertising:</strong> Instantly reach new people in your area</li>
            <li><strong>Meaningful SMS conversations:</strong> 1:1 conversations with people who respond to your message</li>
            <li><strong>Guided conversations:</strong> Guide people to your church with custom NurturePoint Journeys™</li>
        </ol>
        <p>
            <a href="https://connect.visitorreach.com/digital-health-follow-up">Schedule your 15-Minute call today</a>
            today to learn how VisitorReach can improve your online presence and encourage visitors to step through your doors. 
            We look forward to connecting with you soon!
        </p>
    </body>

</html>