<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <style>
        
        h1{
            font-family: "Poppins", Arial, Helvetica, sans-serif;
            font-weight: bolder;
            font-size:large;
            width: 50%;
        }
        p{
            font-family: "Poppins", Arial, Helvetica, sans-serif;
            font-size:medium;
            line-height: 1.6;
        }
        ol{
            font-family: "Poppins", Arial, Helvetica, sans-serif;
            font-size:medium;
            line-height: 1.6;
        }
        
    </style>
    <body>
        <h1>Hi, {{first_name}},</h1>
        <p>
            Congratulations on taking the first step towards digital excellence with your Digital Health Score!  Your attached report provides insights into how effective your online presence is for reaching new people in your local area and growing your church.
            If you're surprised by your score, you're not alone. Most churches' digital tools fall well short of being effective.
            Partnering with VisitorReach will quickly improve your digital outreach and connect you with dozens of local people every week who are looking for a new church home.
            Set up a brief 15-minute conversation to learn how VisitorReach™ can grow your church with:
        </p>
        <ol>
            <li>Digital optimization: So your church appears in the right places online</li>
            <li>Personalized advertising: Instantly reach new people in your area</li>
            <li>Meaningful SMS conversations: 1:1 conversations with people who respond to your message</li>
            <li>Guided conversations: Guide people to your church with custom NurturePoint Journeys™</li>
        </ol>
        <p>
            Schedule your 15-Minute free consultation call today to learn how VisitorReach can improve your online presence and encourage visitors to step through your doors. We look forward to connecting with you soon!
        </p>
    </body>

</html>